.merchPageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 0 32px;
  gap: 32px;
}

.ticketItem {
  border-radius: 16px;
  width: min-content;
}
.ticketItemContainer {
  display: grid;
  border-radius: 16px;
  grid-template-columns: 70px 1fr 170px;
  height: 170px;
  background:
    linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.1) 5%,
      rgba(0, 0, 0, 0.3) 15%,
      rgba(0, 0, 0, 0.2) 40%,
      transparent 100%
    ),
    url("/Screenshot.png") no-repeat center center;
  background-size: 100% 100%, cover;

  & svg {
    & rect {
      fill: white;
    }
  }
}

.ticketSVG {
  transform: rotate(90deg);
  transform-origin: top left;
  width: 150px;
  translate: 50px 10px;
  & rect {
    height: 30px;
  }
}

.stubSVG {
  width: 130px;
  & rect {
    height: 20px;
  }
}

.ticketItemContent {
  padding: 12px 16px 8px 2px;
  line-height: 0.8;
  font-variant: all-small-caps;
  & h3 {
    font-size: clamp(2rem, 7vw, 4rem);
  }
}

.ticketItemTime {
  display: flex;
  gap: 32px;
  margin-top: 16px;
}

.ticketStub {
  border-left: 4px dotted #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  font-variant: all-small-caps;
   & > div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: radial-gradient(
       ellipse 80% 50% at center,
       rgba(0, 0, 0, 0.3) 0%,
       rgba(0, 0, 0, 0.5) 40%,
       rgba(0, 0, 0, 0.1) 65%,
       transparent 100%
     );
     border-radius: 8px;
     padding: 8px;
     margin-bottom: 16px;
     gap: 8px;
     & > div {
       display: flex;
       gap: 16px;
       margin-bottom: 16px;
     }
   }
}

.stubContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.seatLocation {
  margin-top: 24px;
  display: flex;
  gap: 32px;
  & div {
    display: flex;
    gap: 8px;
    align-items: center;
  }
 }
