.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  & h1 {
    text-align: center;
    color: white;
    font-size: clamp(4.2rem, 10vw, 9rem);
    flex-shrink: 0;
    cursor: default;

    &::selection {
      background: none;
    }
  }

  & > section {
    flex: 1;
    min-height: 0;
  }
}
